.footer {
  margin-top: 144px;
  padding-bottom: 64px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__logo,
  &__kinds,
  &__menu,
  &__contacts,
  &__contacts-end {
    margin: 8px;
  }

  &__kinds-title,
  &__menu-title,
  &__contacts-title,
  &__contacts-end-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
  }

  &__logo, &__logo-end {
    min-width: 228px;
  }
  &__logo-end {
    display: none;
    width: 228px;
    margin: 0 auto;
    margin-top: 16px;
    text-align: center;
  }
  &__logo-svg, &__logo-end-svg {
    display: flex;
    align-items: center;
  }

  &__logo-text, &__logo-end-text {
    margin-left: 8px;
    font-family: Port Lligat Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 39px;
    color: rgba(41, 22, 65, 1);
  }
  &__logo-subtitle, &__logo-end-subtitle {
    max-width: 215px;
    margin-top: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }

  &__kinds {
    width: 200px;
  }
  &__kinds-ul, &__menu-ul, &__contacts-ul, &__contacts-end-ul {
    margin-top: 12px;
  }
  &__kinds-re {
    margin-top: 12px;
  }
  &__menu-item{
    margin-top: 12px;
  }

  &__contacts-end {
    display: none;
    margin: 0 auto;
    text-align: center;
  }

  &__contacts, &__contacts-end {
    width: 242px;
  }
  &__contacts-ul > li{
    margin-top: 12px;
  }
  &__contacts-end-ul > li{
    margin-top: 12px;
  }

  &__contacts-social, &__contacts-end-social {
    display: flex;
  }
  &__contacts-end-social {
    justify-content: center;
  }
  &__contacts-social-item, &__contacts-end-social-item {
    margin-right: 8px;
  }
  &__contacts-policy, &__contacts-end-policy {
    min-width: 243px;
    border-bottom: 1px solid $black;
  }
}
