@media (max-width: 980px) {
  .beforeafter {
    &__before {
      margin-left: 0;
      padding-right: 24px;
    }
    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 8px;
    }
    &__after-img {
      width: 400px;
    }
  }
}

@media (max-width: 880px) {
  .beforeafter {
    margin-top: 48px;
    &__wrapper {
      display: flex;
      justify-content: flex-end;
    }
    &__before {
      width: 260px;
      margin-left: 0;
      padding-right: 0;
    }
    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 8px;
      padding-left: 24px;
      position: absolute;
      width: 255px;
      left: 0;
    }
    &__after-img {
      width: 400px;
    }
  }
}

@media (max-width: 760px) {
  .beforeafter {
    margin-top: 48px;
    &__wrapper {
      display: flex;
      justify-content: flex-end;
    }
    &__before {
      width: 260px;
      margin-left: 0;
      padding-right: 0;
    }
    &__after-textbold {
      bottom: 0px;
      left: 65px;
    }
    &__after {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &__after-img {
      width: 300px;
    }
    &__before-title {
      font-size: 28px;
      line-height: 30px;
    }
    &__title {
      font-size: 28px;
    }

    &__text {
      font-size: 14px;
    }
  }
}

@media (max-width: 555px) {
  .beforeafter {
    margin-top: 32px;
    &__description {
      position: relative;
      align-self: flex-start;
    }
    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    &__title {
      display: none;
    }
  }
}
