@media (max-width: 600px) {
  .bolits {
    margin-top: 32px;
  }
}

@media (max-width: 390px) {
  .bolits {
    &__item {
      width: 300px;
      height: auto;
    }
    &__title {
      font-size: 22px;
    }
    &__description {
      margin-bottom: 0;
    }
  }
}
