@media (max-width: 800px) {
  .calcstyle, .calcfiller {
    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      min-width: 100%;
    }
    &__description-img {
      width: 75%;
    }
    &__description-text {
      width: 70%;
    }
    &__item {
      width: 160px;
    }
    .boxshadow-small {
      width: 160px;
    }
  }
}

@media (max-width: 700px) {
  .calcstyle, .calcfiller {
    &__wrapper {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__description-img {
      width: 85%;
    }
    &__description-text {
      width: 80%;
    }
    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-width: 100%;
    }
    &__description-content {
      display: flex;
      justify-content: center;
    }
    .boxshadow-small {
      width: 125px;
      margin: 4px;
    }
    &__item {
      width: 125px;
      margin: 4px;
    }
  }
}

@media (max-width: 530px) {
  .calcstyle, .calcfiller {
    margin-top: 32px;
  }
}

@media (max-width: 420px) {
  .calcstyle, .calcfiller {
    &__title {
      padding: 0;
    }
  }
}
