@media (max-width: 1000px) {
  .calckind {
    &__items {
      justify-content: center;
    }
    .boxshadow {
      width: 150px;
    }
    .furniture__item {
      width: 150px;
    }
  }
}

@media (max-width: 800px) {
  .calckind {
    &__wrapper {
      justify-content: center;
    }
    &__png {
      display: none;
    }
  }
}

@media (max-width: 570px) {
  .calckind {
    .boxshadow {
      margin: 4px;
      width: 145px;
    }
    .furniture__item {
      width: 145px;
      margin: 4px;
    }
  }
}

@media (max-width: 530px) {
  .calckind {
    .boxshadow {
      overflow: hidden;
      margin: 4px;
      width: 145px;
      height: 70px;
      z-index: 2;
    }
    .furniture__item {
      width: 145px;
      height: 70px;
      margin: 4px;
    }
    .furniture__item-img {
      z-index: 1;
      height: auto;
    }
    .furniture__item-img img{
      width: 90%;
    }
  }
}

@media (max-width: 370px) {
  .calckind {
    .container {
      padding: 0;
    }
    .boxshadow {
      width: 140px;
    }
    .furniture__item {
      width: 140px;
    }
  }
}