@media (max-width: 880px) {
  .calcyc {
    &__order {
      width: 832px;
    }
  }
}

@media (max-width: 830px) {
  .calcyc {
    &__item {
      margin: 8px;
    }
    &__wrapper-item {
      flex-wrap: wrap;
    }
  }
  .order h3 {
    text-align: start;
  }
}

@media (max-width: 550px) {
  .calcyc,
  .calcyc__order {
    .modal-title {
      width: 365px;
    }
    .modal-text {
      width: 365px;
    }
  }
  .calcyc {
    &__item-svg {
      display: block;
    }
    &__svg {
      display: none;
    }
    &__svg-resp {
      display: block;
      margin-top: 16px;
      text-align: center;
    }
  }
}

@media (max-width: 450px) {
  .calcyc,
  .calcyc__order {
    &__order {
      width: 700px;
      padding: 0;
    }
    .modal-title {
      width: 315px;
    }
    .modal-text {
      width: 280px;
    }
    .modal__policy label {
      width: 270px;
    }
    &__title {
      padding: 0;
    }
    &__item-count {
      margin-right: 0;
    }
  }
  .order h3 {
    padding: 0;
  }
}
