@media (max-width: 930px) {
  .footer {
    padding-bottom: 32px;
    &__wrapper {
      flex-direction: row-reverse;
    }
    &__logo {
      display: none;
    }
    &__logo-end {
      display: block;
    }
  }
}
@media (max-width: 670px) {
  .footer {
    &__wrapper {
      display: none;
      justify-content: space-around;
    }
    &__contacts {
      display: none;
    }
    &__contacts-end {
      display: block;
    }
  }
}

@media (max-width: 620px) {
  .footer {
    margin-top: 96px;
  }
}
