@media (max-width: 1070px) {
  .menu {
    display: none;
  }
  .menu-burger {
    display: block;
  }
}

@media (max-width: 650px) {
  .pnone {
    display: none;
  }
  .nav-menu-burger__item-recall {
    display: flex;
  }
}

@media (max-width: 540px) {
  .nav-menu-burger__item {
    padding: 8px 8px 8px 0;
  }
  .header__wrapper {
    padding: 16px 0;
  }
}
