@media (max-width: 840px) {
  .indorder {
    &__wrapper {
      padding: 0 32px 0 12px;
    }
  }
}

@media (max-width: 780px) {
  .indorder {
    &__wrapper {
      padding: 0 12px 0 12px;
    }
    &__item {
      left: 0;
    }
    &__item:nth-child(2) {
      padding-right: 0;
    }
  }
}

@media (max-width: 690px) {
  .indorder {
    &__wrapper {
      padding: 0;
    }
    &__item-discription {
      margin: 0;
    }
  }
}

@media (max-width: 600px) {
  .indorder {
    margin-top: 32px;
    &__img-3 {
      width: 100%;
    }
  }
}

@media (max-width: 560px) {
  .indorder {
    &__img-3 {
      width: 100%;
    }
    &__img-1 {
      width: 50%;
    }
    &__img-2 {
      width: 50%;
    }
    &__item {
      margin-top: 12px;
    }
    &__item-btn {
      width: 160px;
      height: 32px;
      margin-right: 105px;
    }

    &__item:nth-child(2) {
      margin-top: 48px;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-between;
      padding-right: 0;
    }
    &__item-subtitle-two {
      display: flex;
      align-items: flex-end;
      position: absolute;
      top: 0;
      margin-right: 0;
    }
    &__item-subtitle {
      font-size: 12px;
    }
    &__item-text-title {
      font-size: 22px;
    }
    &__item-discription {
      // margin-left: 108px;
      align-self: center;
      width: 200px;
    }
  }
}

@media (max-width: 450px) {
  .indorder {
    margin-bottom: 50px;
    &__title {
      font-size: 28px;
    }
    &__items {
      margin-top: 24px;
    }
    &__item {
      margin-top: 0;
      flex-direction: column;
    }
    &__item-subtitle {
      display: none;
    }
    &__item-discription {
      width: 100%;
    }
    &__item:nth-child(2) {
      margin-top: 48px;
      flex-direction: column;
      align-items: center;
    }
    &__item-btn {
      margin: 0 auto;
      margin-top: 12px;
    }
    &__img-3 {
      width: 100%;
    }
    &__img-1 {
      width: 65%;
    }
    &__img-2 {
      width: 65%;
    }
    &__item-text-title-three {
      font-size: 20px;
    }
  }
}
