@media (max-width: 710px) {
  .linkcalc {
    &__right {
      margin-left: 270px;
      padding: 24px;
    }
    &__img {
      position: absolute;
      top: -80px;
      left: 30px;
    }
  }
}

@media (max-width: 660px) {
  .linkcalc {
    &__right {
      margin-left: 270px;
      padding: 24px;
    }
    &__img {
      top: -65px;
      left: 30px;
    }
    &__title {
      font-size: 20px;
    }
    &__btn {
      width: 160px;
      height: 32px;
    }
  }
}

@media (max-width: 620px) {
  .linkcalc {
    margin-top: 78px;
    &__right {
      margin-left: 250px;
      padding: 16px;
    }
    &__img {
      top: -30px;
      left: 30px;
      width: 180px;
    }
    &__title {
      font-size: 20px;
    }
  }
}

@media (max-width: 585px) {
  .linkcalc {
    margin-top: 78px;
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0;
      padding: 16px;
    }
    &__img {
      position: inherit;
      top: 0;
      left: 0;
      width: 150px;
      padding: 12px;
    }
    &__title {
      font-size: 20px;
    }
  }
}

@media (max-width: 480px) {
  .linkcalc {
    &__wrapper {
      flex-direction: column;
    }
    &__right {
      padding: 20px;
    }
    &__left {
      display: flex;

      justify-content: center;
    }
    &__img {
      position: inherit;
      top: 0;
      left: 0;
      width: 150px;
      padding: 12px;
    }
    &__btn {
      width: 160px;
      height: 32px;
      margin: 0 auto;
      margin-top: 24px;
    }
  }
}
