@media (max-width: 1070px) {
  .main {
    &__svg {
      margin-top: 96px;
    }
    &__title-create {
      font-size: 32px;
    }
  }
}

@media (max-width: 970px) {
  .main {
    .svg__animate {
      width: 48px;
      height: 48px;
    }
    &__svg {
      margin-top: 64px;
    }
    &__title-create {
      margin-top: 48px;
    }
  }
}

@media (max-width: 870px) {
  .main {
    &__svg {
      margin-top: 56px;
    }
    &__title-create {
      margin-top: 32px;
      min-width: 320px;
    }
  }
}

@media (max-width: 770px) {
  .main {
    &__wrapper {
      padding: 16px 0px;
    }
    &__svg {
      margin-top: 56px;
    }
    &__title-create {
      margin-top: 32px;
      min-width: 320px;
    }
    &__btn {
      margin-top: 16px;
    }
  }
}

@media (max-width: 670px) {
  .main {
    .svg__animate {
      width: 40px;
      height: 40px;
    }
    &__svg {
      margin-top: 68px;
    }
    &__title-create {
      font-size: 28px;
    }
    &__btn {
      width: 160px;
      height: 32px;
    }
  }
}

@media (max-width: 650px) {
  .main {
    &__wrapper {
      flex-direction: column;
    }
    &__couchMainTwo {
      margin-top: 24px;
    }
    .svg__animate {
      width: 40px;
      height: 40px;
    }
    &__svg {
      display: none;
      // margin-top: 104px;
    }
    &__title-create {
      margin-top: 16px;
      font-size: 28px;
    }
    &__btn {
      width: 160px;
      height: 32px;
    }
    &__logo {
      // display: none;
    }
  }
}

@media (max-width: 420px) {
  .main {
    &__title-create {
      max-width: 325px;
    }
  }
}