@media (max-width: 920px) {
  .maincalc {
    &__title {
      width: 395px;
    }
    &__text {
      width: 370px;
    }
  }
}

@media (max-width: 840px) {
  .maincalc {
    &__animate {
      width: 48px;
      height: 48px;
    }
    &__title {
      font-size: 30px;
    }
    &__right img {
      width: 100%;
    }
    &__right::before {
      content: "";
      height: 470px;
    }
  }
}

@media (max-width: 800px) {
  .maincalc {
    background-color: #fbf9f8;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding: 24px 0;
      padding-top: 12px;
    }
    &__title {
      margin-top: 20px;
    }
    &__right {
      display: flex;
      align-items: flex-end;
      padding: 0;
    }
    &__right::before {
      content: "";
      display: none;
    }
  }
}

@media (max-width: 670px) {
  .maincalc {
    &__animate {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 630px) {
  .maincalc {
    &__wrapper {
      flex-direction: column;
    }
    &__title {
      margin-top: 20px;
    }
    &__right {
      margin-top: 24px;
      justify-content: center;
    }
    &__right img {
      width: 70%;
    }
  }
}

@media (max-width: 420px) {
  .maincalc {
    &__title {
      font-size: 26px;
      width: 100%;
      margin-top: 20px;
    }
    &__text {
      width: 100%;
      font-size: 16px;
    }
    &__right {
      margin-top: 24px;

      justify-content: center;
    }
    &__right img {
      width: 70%;
    }
  }
}
